
ul
    li
        img(src='#{avatar_src}',name='avatar', alt='avatar', height=100, width=100)
    li
        h3 用户名：#{username}
    li
        h3 姓名：#{name}
    li
        h3 联系电话： #{tel}
    li
        h3 Email： #{email}

<a href="http://localhost:8888/user/change_info/">更改信息</a> <a href="http://localhost:8888/user/change_psw/">重设密码</a>