

- if(typeof(order) != 'undefined' && typeof(dishes) != 'undefined')
    ul
        li
            h5 订单号：#{order.id}
        li
            h5 提交时间：#{order.submit_time}
        li
            h5 订单状态：
            - if(order.status == 0)
                                         h5 无法完成
                                      - else if(order.status == 1)
                                         h5 订单已提交
                                      - else if(order.status == 2)
                                         h5 制作中
                                      - else if(order.status == 3)
                                         h5 派送中
                                      - else if(order.status == 4)
                                         h5 交易完成
        li
            h5 收件人: #{order.rec_name}
        li
            h5 收件人电话: #{order.rec_tel}
        li
            h5 送餐地址: #{order.rec_addr}

    table
        tr
            th
                菜品名
            th
                数量
            th
                所属餐馆
            - each dish in dishes
                tr
                    th
                        = dish.name
                    th
                        = dish.quantity
                    th
                        = dish.restaurant_name
